html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --heading-font-bold: 'Open-SansBold', sans-serif;
    --heading-font-regular: 'Open-SansRegular', sans-serif;
}

  
@font-face {
    font-family: 'Open-SansBold';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'Open-SansRegular';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

/* NAVIGATION */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.header-wrapper {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    overflow: visible;
    padding: 0 16px 0 16px;
    position: relative;
}

.logo {
    width: auto;
    height: 18px;
}

.btn-menu {
    display: flex;
    align-self: center;     
    color: #e60505;
    font-size: 1rem;
    font-family: var(--heading-font-bold);
    font-weight: 700;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 100;
}

.btn-menu::before {
    border-left: 1px solid #e60505;
    content: "";
    height: 1.375rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.menu-icon {
    display: inline;
}

.menu-icon .chevron-icon {
    margin-left: 5px;
    background-color: beige;
    vertical-align: middle;
}

.btn-profile, .btn-search {
    fill: #545454;
    stroke: #545454;
    background-color: transparent;
    border: none;
    color: #545454;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
}

.side-navigation {
    align-self: center;
    display: flex;
    margin-left: auto;
    min-width: 3rem;
    text-align: center;
}

.txt-side-nav {
    font-family: var(--heading-font-bold);
    font-size: 14px;
    margin-left: 6px;
    margin-right: 10px;
    display: none;
}

/* RE-USABLE MAIN ELEMENTS */
.bg-dark {
    background-color: #363636;
}

.bg-grey {
    background-color: #eaeaea;
}

/* MAIN BODY */

h1, h2, h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-family: var(--heading-font-bold);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.15rem;
}
p, span {
    font-family: var(--heading-font-regular);
}

aside {
    margin: 0;
    padding: 0;
}

.ad-main {
    background-color: #e5e5e5;
    min-height: 82px;
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.ad-secondary {
    margin-top: 1rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-ad-label-main, .wrapper-ad-label-secondary {
    width: 100%;
    color: #B3B3B3;
    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    text-align: center;
}

.wrapper-ad-label-main {
    text-align: right;
}

.wrapper-ad-label-secondary {
    border-top: 1px solid #B3B3B3;
    padding-top: 4px;
}


.wrapper-ad {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.img-ad {
    width: 100%;
    max-height: 250px;
    object-fit: fill;
}

section {
    margin: 1rem 0 1rem 0;
}


.wrapper-section-main {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 16px;
}

.wrapper-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem 16px;
}

.wrapper-news-tiles {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

.section-grid-main, .section-grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.tile {
    width: 100%;
    height: auto;
    background-color: #fff;
}

#tile-01, #tile-09 {
    grid-area: 1 / 1 / 1 / 2;
}

#tile-02, #tile-10 {
    grid-area: 2 / 1 / 2 / 2;
}

#tile-03, #tile-11 {
    grid-area: 3 / 1 / 3 / 2;
}

#tile-04, #tile-12 {
    grid-area: 4 / 1 / 4 / 2;
}

#tile-05 {
    grid-area: 5 / 1 / 5 / 2;
}

#tile-06 {
    grid-area: 6 / 1 / 6 / 2;
}

#tile-07 {
    grid-area: 7 / 1 / 7 / 2;
}

.tile-grid {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-tile, .img-tile-main {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.wrapper-news-texts {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tile-label {
    margin-bottom: 1rem;
    color: #e60505;
    font-size: 0.8rem;
    font-family: var(--heading-font-bold);
    text-transform: uppercase;
}

.sub-texts {
    margin-top: 20px;
    font-size: 0.85rem;
    color: #545454;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

.section-ad {
    display: block;
    flex-grow: 1;

    padding-top: 32px;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.img-section-ad-01 {
    width: 150px;
    height: auto;
}


.content-texts {
    flex: 1;
    margin: 12px;
}

.tile {
    border: 1px solid #e0e0e0; 
}

.wrapper-img-ad-secondary {
    max-width: 100%;
}


@media (min-width: 1069px) {
    .wrapper-ad-label-main {
        width: 975px;
        margin: 6px 0 6px 0;
    }

    .img-ad {
        width: 975px;
        object-fit: cover;
    }

    .wrapper-section-main {
        flex-flow: nowrap;
    }


    .img-section-ad-01 {
        width: 100%;
    }

}

@media (min-width: 1002px) {
    .section-grid-main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section-grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .section-ad {
        flex: 0 0 300px;
        margin: 0 0 0 16px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
    }

    #tile-01 {
        grid-area: 1 / 1 / 1 / 4;
    }

    #tile-02 {
        grid-area: 2 / 1 / 2 / 2;
    }

    #tile-03 {
        grid-area: 2 / 2 / 2 / 3;
    }

    #tile-04 {
        grid-area: 2 / 3 / 2 / 4;
    }

    #tile-05 {
        grid-area: 3 / 1 / 3 / 2;
    }

    #tile-06 {
        grid-area: 3 / 2 / 3 / 3;
    }

    #tile-07 {
        grid-area: 3 / 3 / 3 / 4;
    }

    #tile-09 {
        grid-area: 1 / 1 / 1/ 2;
    }

    #tile-10 {
        grid-area: 1 / 2 / 1/ 3;
    }

    #tile-11 {
        grid-area: 1 / 3 / 1/ 4;
    }

    #tile-12 {
        grid-area: 1 / 4 / 1/ 5;
    }
}

@media (min-width: 531px) and (max-width: 1002px) {
    .section-grid-main, .section-grid-4 {
        grid-template-columns: 1fr 1fr;
    }


    #tile-01 {
        grid-area: 1 / 1 / 1 / 3;
    }

    #tile-02 {
        grid-area: 2 / 1 / 2 / 2;
    }

    #tile-03 {
        grid-area: 2 / 2 / 2 / 3;
    }

    #tile-04 {
        grid-area: 3 / 1 / 3 / 3;
    }

    #tile-05 {
        grid-area: 3 / 2 / 3 / 3;
    }

    #tile-06 {
        grid-area: 4 / 1 / 4 / 2;
    }

    #tile-07 {
        grid-area: 4 / 2 / 4 / 3;
    }

    #tile-09 {
        grid-area: 1 / 1 / 1/ 2;
    }

    #tile-10 {
        grid-area: 1 / 2 / 1/ 3;
    }

    #tile-11 {
        grid-area: 2 / 1 / 2/ 2;
    }

    #tile-12 {
        grid-area: 2 / 2 / 1/ 3;
    }

    .content-wrapper {
        display: flex;
        flex-flow: row wrap;
    }

    .wrapper-img-ad-secondary, .wrapper-ad-label-secondary {
        max-width: 300px;
    }
}


@media (min-width: 601px) {
    .header-wrapper {
        flex-flow: row wrap;
    }

    .txt-side-nav {
        display: contents;
    }

}

@media (min-width: 765px) {

    .ad-main {
        min-height: 122px;
    }
    
}

@media (min-width: 732px) {

    .first-tile {
        display: flex;
    }

    .img-tile-main {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}